* {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Mono', monospace;
    cursor: default;
}

body {
    background: #000;
    color: #fff;
}

.green {
    color: #01FF00;
}

.mg-4 {
    margin: 4vw;
}

.mg-t1 {
    margin-top: 1rem;
}

.mg-t3 {
    margin-top: 3rem;
}

.mg-t5 {
    margin-top: 5rem;
}

.mg-lr5 {
    margin: 0 5vw;
}

.font-2 {
    font-size: 2vw;
}

.font-3 {
    font-size: 3vw;
}

.font-4 {
    font-size: 4vw;
}

.font-5 {
    font-size: 5vw;
}

.font-6 {
    font-size: 6vw;
}

.font-7 {
    font-size: 7vw;
}

.font-8 {
    font-size: 8vw;
}

.font-10 {
    font-size: 10vw;
}

.flex {
    display: flex;
    gap: 1rem;
}

/* Overwrite the default to keep the scrollbar always visible */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.7vw;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

section {
    scroll-snap-align: start;
    height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #01FF00 !important;
}

a:link,
a:visited,
a:active {
    color: #fff;
}

ul.horizontal-list {
    list-style: none;
}

ul.horizontal-list li {
    display: inline-block;
    padding-right: 0.5rem;
    text-align: center;
}

ul.horizontal-list li:not(:last-child) {
    border-right: 1px solid #fff;
}

.card {
    transition: 0.3s;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 1px solid #fff;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-1 {
    padding: 1rem;
    /* background: rgba(255, 255, 255, 0.2); */
    border: 1px solid #01FF00;
    border-radius: 1rem;
}

[data-inviewport="salutation-typing"].is-inViewport {
    width: 13ch;
    animation: typing 2s steps(13), blink .9s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

[data-inviewport="intro-typing"].is-inViewport {
    width: 28ch;
    animation: typing 2s steps(28), blink .9s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

[data-inviewport="project-typing"].is-inViewport {
    width: 35ch;
    animation: typing 3s steps(35), blink .9s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

[data-inviewport="from-typing"].is-inViewport {
    width: 26ch;
    animation: typing 2s steps(26), blink .9s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0%
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 999;
    backdrop-filter: blur(10px);
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
    background: #36454f;
    position: fixed;
    z-index: 1001;
    /* Ensure header is above control center */
}

.navBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1vw;
}

.mac-btn {
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    margin: 0.5vw;
    cursor: pointer;
}

.close-btn {
    background: #FF5D5B;
}

.min-btn {
    background: #FFBB39;
}

.max-btn {
    background: #00CD4E;
}

.navMenu {
    margin: 0.5vw;
    margin-bottom: 0;
}

.navMenu a {
    font-size: 2.5vw;
    margin: 0.1rem;
    margin-bottom: 0;
    float: left;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    margin-right: 1px;
}

.salutationContainer {
    display: grid;
    place-items: center;
}

.salutationText {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameContainer {
    font-size: 10vw;
}

.profilePic {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    border: 1px solid #01FF00;
    display: inline-block;
}

img.grayscale {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.jobDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.jobTitleContainer {
    text-align: center;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin-bottom: 1.5rem;
}

.skills {
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(5, 1fr);
}

.skill-img {
    height: 9vw;
    width: 9vw;
    cursor: pointer;
}

.projectDetails {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5vw;
}

.projectPreview {
    position: relative;
    width: 60%;
}

.laptop-mockup {
    width: 40vw;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactUs {
    width: 50%;
    margin: 3vw;
}

.contactUsForm {
    font-size: 2vw;
}

input,
textarea {
    width: 100%;
    padding: 1.2vh;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1vh;
    margin-bottom: 2vh;
    resize: vertical;
    outline: none;
}

input:focus {
    border: 1px solid #36454f;
}

textarea:focus {
    border: 1px solid #36454f;
}

input[type=submit] {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    cursor: pointer;
    padding: 2vh;
    width: 40%;
}

input[type=submit]:hover {
    background-color: #01FF00;
    color: #000;
}

.cursor-pointer {
    cursor: pointer;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
    .jobTitleContainer {
        margin-top: 12vh;
    }

    .heading-text {
        margin-top: 20vh;
    }
}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .profileContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .profileContainer,
    .project {
        flex-direction: column;
        margin: 5vh;
    }

    .skills {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Adjust button size and font size for smaller screens */
    input[type="submit"] {
        padding: 8px 16px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
      }
}

/* For Mobile Portrait View */
@media screen and (max-width: 480px) and (orientation: portrait) {}

/* For Mobile Landscape View */
@media screen and (max-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-width: 640px) {
    .font-2 {
        font-size: 3vw;
    }
    .font-3 {
        font-size: 4vw;
    }
    .font-4 {
        font-size: 5vw;
    }
    .profilePic {
        height: 30vw;
        width: 30vw;
    }
    .skillsContainer {
        gap: 5vw;
        margin: 2rem;
    }
    .laptop-mockup {
        width: 50vw;
    }
    .contactUs {
        width: 70%;
    }
    .contactUsForm {
        font-size: 3vw;
    }
}

/* Default styles for the submit button */
  